- if @current_user.access_token.nil?
  = link_to 'Access Google drive', user_omniauth_authorize_path(:google_oauth2)
- else
  - unless @files.empty?
    %h2 Files
    %table
      %thead
        %tr
          %th Name
          %th
      %tbody
        - @files.each do |file|
          %tr
            %td= file['title']
            %td
              = link_to 'View', file['alternateLink'], :target => '_blank'
